@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-left {
  animation: move-left 25s linear infinite;
  width: calc(15rem * 10 + 3rem * 10);
}

.carousel-right {
  animation: move-right 25s linear infinite;
  width: calc(15rem * 12 + 3rem * 12);
}

.ring-bottom:hover {
  box-shadow: 0 1px 0.5px #d2ba00;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-15rem * 5 - 3rem * 5));
  }
}

@keyframes move-right {
  0% {
    transform: translateX(calc(-15rem * 6 - 3rem * 6));
  }
  100% {
    transform: translateX(0);
  }
}
