@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-contact:hover {
  box-shadow: none !important;
}

.animate-carousel {
  animation: move 25s linear infinite;
  width: calc(15rem * 8 + 3rem * 8);
}

.ring-bottom:hover {
  box-shadow: 0 1px 0.5px #d2ba00;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-15rem * 4 - 3rem * 4));
  }
}
